<launch>
  <arg name="object1" default = "train" />
  <arg name="object2" default = "cow" />
  <arg name="object3" default = "sheep"/>
  <arg name="object4" default = "car" />
  <arg name="object5" default = "dog" />
  <arg name="test" default = "0"/> <!-- 0 means testing false any other value will refer to true -->
  <arg name="nao_ip" default = "10.0.1.200"/>

  <include file="src/nao_nodes/launch/nao_bringup.launch" unless="$(arg test)" >
    <arg name="nao_ip" value="$(arg nao_ip)"/>
  </include>
  <include file="src/sound_recognition/launch/classify.launch" >
    <arg name="test" value="$(arg test)"/>
  </include>
  <node pkg="project" type="text2speech_pyttsx3_node.py" name="text2speech_pyttsx3_node"  if ="$(arg test)" required="true" output="screen"/>
  <node pkg="project" type="main.py" name="main_node" required="true" args="--1 $(arg object1) --2 $(arg object2) --3 $(arg object3) --4 $(arg object4) --5 $(arg object5) --test $(arg test)" output="screen" />
</launch>
