<launch>
  <arg name="object1" default = "train" />
  <arg name="object2" default = "cow" />
  <arg name="object3" default = "sheep"/>
  <arg name="object4" default = "car" />
  <arg name="object5" default = "dog" />
  <arg name="test" default = "0"/> <!-- 0 means testing false any other value will refer to true -->

  <include file="src/nao_nodes/launch/nao_bringup.launch" unless="$(arg test)" />
  <node pkg="project" type="text2speech_pyttsx3_node.py" name="text2speech_pyttsx3_node"  if ="$(arg test)" required="true" output="screen"/>
  <node pkg="audio_rec" type="audio_classification.py" name="audio_recognition_node" required="true" output="screen"/>
  <node pkg="audio_rec" type="voice_activity_detection.py" name="voice_activity_detection" required="true" output="screen" args="--test $(arg test)"/>
  <node pkg="project" type="main.py" name="main_node" required="true" args="--1 $(arg object1) --2 $(arg object2) --3 $(arg object3) --4 $(arg object4) --5 $(arg object5) --test $(arg test)" output="screen" />

</launch>
