<launch>

  <arg name="test" default = "0"/>
  <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.200)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <node pkg="nao_nodes" type="microphone_node.py" name="microphone_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" unless="$(arg test)" output="screen" />
  <node pkg="sound_recognition" type="voice_activity_detection.py" name="voice_activity_detection" required="true" output="screen" args="--test $(arg test)"/>
  <node pkg="sound_recognition" type="sound_recognition_node.py" name="sound_recognition_node" required="true" output="screen" />
</launch>
