<launch>
  <arg name="test" default = "0"/>
  <node pkg="audio_rec" type="voice_activity_detection.py" name="voice_activity_detection" required="true" output="screen" args="--test $(arg test)"/>
  <node pkg="audio_rec" type="audio_classification.py" name="audio_recognition_node" required="true" output="screen" />
</launch>
